---
---

//
// IMPORTS
//

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

:root {
    --background-color-light: #feffee;
    --text-color-light: #333333;
    --link-color-light: #1a73e8;
    --heading-color-light: #1a1a1a;

    --background-color-dark: #181818;
    --text-color-dark: #e0e0e0;
    --link-color-dark: #8ab4f8;
    --heading-color-dark: #ffffff;

    --font-family: 'Open Sans', sans-serif;
}

[data-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --link-color: var(--link-color-light);
    --heading-color: var(--heading-color-light);
}

[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --link-color: var(--link-color-dark);
    --heading-color: var(--heading-color-dark);
}

html {
  font-size: 100%;
}

body {
  background: var(--background-color);
  font: 18px/1.4 var(--font-family);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--heading-color);
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--heading-color);
}

p {
  margin: 15px 0;
}

/*Added for links to be blue */
a[target="_blank"] {
  color: #0000ff; /* Blue for external links */
  text-decoration: underline; /* Optional: Make external links look distinct */
}

a {
  color: #0000ff; /* Blue for external links */
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: var(--text-color);
}

// Specify the color of the selection
::-moz-selection {
  color: var(--background-color);
  background: var(--link-color);
}
::selection {
  color: var(--background-color);
  background: var(--link-color);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid var(--text-color);

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #0000ff; /* Blue for external links */
  cursor: pointer;
  font-family: #0000ff; /* Blue for external links */
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: var(--text-color);
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: var(--font-family);
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #0000ff; /* Blue color */
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: #0000ff; /* Blue color */
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--text-color);
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid var(--text-color);
    padding: 0.1em 1em;
    color: var(--text-color);
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: var(--background-color);
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


/* Additional elements*/

.hint-box {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0;
}

.hint-box-header {
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent; /* Border color without solid background */
}

.hint-box-content {
  padding: 15px;
  display: none;
  border: 1px solid transparent;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.hint-box.info .hint-box-header {
  border-color: #00529B;
}

.hint-box.info .hint-box.correct .hint-box-header {
  border-color: #4BB543;
  background-color: #dbf0d9;
}

.hint-box.info .hint-box.wrong .hint-box-header {
  border-color: #D8000C;
  background-color: #f7ccce;
}

.hint-box.info .hint-box.correct .hint-box-content {
  border-color: #4BB543;
  background-color: #dbf0d9;
}

.hint-box.info .hint-box.wrong .hint-box-content {
  border-color: #D8000C;
  background-color: #f7ccce;
}

/* Google Form */
.form-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0; /* This ensures the height is based on padding-bottom */
    overflow: hidden;
    max-width: 100%;
    clear: both; /* Ensure the container doesn't overlap elements below */
}

.form-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Video */

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* image zoom */

.image-container {
  position: relative;
  cursor: pointer;
}

.zoom-image {
  width: 100%;
  height: auto;
}

.zoom-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.zoom-overlay img {
  max-width: 90%;
  max-height: 90%;
}

.zoom-overlay.active {
  display: flex;
}
